@font-face {
    font-family: 'Poppins-Light';
    src: local('Poppins-Light'), url(../fonts/Poppins-Light.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Poppins-Medium';
    src: local('Poppins-Medium'), url(../fonts/Poppins-Medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto-Bold';
    src: local('Poppins-Medium'), url(../fonts/RobotoCondensed-Bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto-Regular';
    src: local('Poppins-Medium'), url(../fonts/RobotoCondensed-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Roboto-Light';
    src: local('Poppins-Medium'), url(../fonts/RobotoCondensed-Light.ttf) format('truetype');
  }
  body{
    font-family: Poppins-Light;
  }

@media only screen and (max-width: 768px) {
  /* For desktop: */
  .navbar-brand {
    width: 100%;
    height: 50%;
  }
  .vision{
    background-color: black;
  }
  /* .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;} */
}
  .active:active{
    border: none;
    border-color: #FF4500;
    outline-color: none;
  }

  .p-p-title{
    font-family: 'Poppins-Medium';;
    font-size: 32px;
    line-height: 60px;
    font-weight: 'bold';
  }
  .p-p-sub-title{
    font-family: 'Roboto-Light';
    margin-top: 10px;
    font-size: 16px;
    line-height: 25px;
  }
  .p-v-20{
    padding-left: 20px;
    padding-right: 20px;
  }
  .p-v-10{
    padding-left: 10px;
    padding-right: 10px;
  }

  .cu-ptr{
    cursor: pointer;
  }

  .home-bg-gradient{
   
      background-image: linear-gradient(to right, #E9EDEF , #fafafa);
    
  }
  .title{
    font-family: 'Roboto-Light';;
    font-size: 40px;
    line-height: 60px;
    font-weight: 'bold';
  }

  .sub-title{
    font-family: 'Roboto-Light';
    margin-top: 10px;
    font-size: 20px;
    line-height: 25px;
  }
  .zoom:hover{
    transform: scale(1.1); 
    font-family: 'Poppins-Medium';
  }
  .img-fullwidth{
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer-bg-color{
   
    background-color: #F2F2F2;
    box-shadow: 0 2px 8px 2px rgba(168, 165, 165, 0.774);
  
}
html {
  scroll-behavior: smooth;
}
li{
  margin-left: 20px;
}
