.box-shadow {
    box-shadow: 0 1px 10px 0 rgba(168, 165, 165, 0.774);
  }

  .nav-item:hover{
    transform: scale(1.3); 
    font-family: 'Poppins-Medium';


  }
  .nav-item{
    font-family: 'Poppins-Light';
    color:black;
  }

  .navbar-brand{
    margin-top: -20px;
    height: 80px;
    padding-top: 0;
  }