.box-shadow {
    box-shadow: 0 1px 10px 0 rgba(168, 165, 165, 0.774);
    position: relative;
     z-index: 1000;
  }

  .nav-link:hover{
    transform: scale(1.2)  ; 
    font-family: 'Poppins-Medium'!important;
    color:black !important;


  }
  .btn-zoom:hover{
    transform: scale(1.2)  ; 
    font-family: 'Poppins-Medium'!important;
    color:white !important;


  }
  .nav-link{
    font-family: 'Poppins-Light'  !important;
    color:black !important;
  }

  .navbar-brand{
    margin-top: -20px;
    height: 80px;
    padding-top: 0;
  }