.box-shadow {
    box-shadow: 0 1px 10px 0 rgba(168, 165, 165, 0.774);
    position: relative;
     z-index: 1000;
  }

  .nav-link:hover{
    transform: scale(1.1)  ; 
    font-family: 'Montserrat', sans-serif   !important;
    font-weight: bold;
    color:black !important;


  }
  .btn-zoom:hover{
    transform: scale(1.1)  ; 
    font-family: 'Montserrat', sans-serif   !important;
    font-weight: bold;
    color:white !important;
    background-color: #3BB3A6 !important;

  }
  .btn-zoom{
    border:1.5px solid #3BB3A6 !important;
  }
  .nav-link{
    font-family: 'Montserrat', sans-serif   !important;
    color:black !important;
  }

  .navbar-brand{
    margin-top: -20px;
    height: 80px;
    padding-top: 0;
  }