@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";
*{
    font-family: 'Montserrat', sans-serif;   
}
body{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.scrolling-wrapper, .scrolling-wrapper-flexbox {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* padding-top: 5px; */
}
.pos-fixed{
    overflow: hidden;
  position: fixed;
  z-index: 9;
  }
.heading{
    font-size: 20px;
    margin: 20px 0 15px;
}
.CategoriesPage .item-wrap {
    width: 23.7%;
}
.CategoriesPage .item-wrap .category-image,
.CategoriesPage .item-wrap .gray-overlay {
    height: 224px;
}
.viewAll{
    font-size: 14px;
    float: right;
    color: #007bff;
}

.field {
    margin-bottom: 1em;
}
.option-search{
    position: absolute;
    background: white;
    min-width: 300px;
    box-shadow:2px 1px 3px -2px #000;
}
.option{
    text-transform: capitalize;
}
.field .mobileInput {
    font-size: 1rem;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 15px;
    height: 60px;
    cursor: text;
}

input#otp {
    display: block;
    /* margin: 0 auto; */
    border: none;
    width: 9ch;
    background: repeating-linear-gradient(90deg,#696969,#696969 1ch,transparent 0,transparent 1.5ch) 0 100%/100% 2px no-repeat;
    color: #696969;
    font: 5ch consolas,monospace;
    letter-spacing: .5ch;
    outline: none;
}
.form-group .form-control{
    border: none;
    border-bottom: solid 1px #ddd;
    border-radius: 0;
    background-color: #f1f1f1;
}
/* css for homepage slider */
div.scrollmenu {
    background-color: white;
    overflow: auto;
    white-space: nowrap;
    padding-top: 5px;
    
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .a-a:first-child {
    border-bottom: 3px solid #3BB3A6!important;
    font-weight: bold !important;
    color:#3BB3A6
 
  }
  .a-a {
    border-bottom: 3px solid #3BB3A6!important;
    font-weight: bold !important;
    color:#3BB3A6 !important;
    transform: scale(1.1) !important;
 
  }

  .b-b{
    border-bottom: none!important;
    font-weight: lighter !important;  
  }
  
  div.scrollmenu a:hover {
    border-bottom: 3px solid  #3BB3A6;
    font-weight: bold;
    color: #3BB3A6
  }

  div.scrollmenu a:active {
   border-bottom: 1px solid  #3BB3A6;
  }

/* ===end */
.box-shadow{
    -webkit-box-shadow: 0px 2px 3px 1px #82f3e76b; 
    box-shadow: 0px 2px 3px 1px #82f3e76b;
    border-radius: 2px;
}

@media(max-width: 767px){
    .CategoriesPage .item-wrap {
        width: 45%;
        margin: 8px;
    }  
    .CategoriesPage .item-wrap .category-image, .CategoriesPage .item-wrap .gray-overlay {
        height: 160px;
    }  
}

@media(min-width: 380px){
.custome-img{
    width:80px!important;
    height: 70px!important;
    border-radius: 7px;
}
}

.custome-img{
    width:80px!important;
    height: 80px!important;
    margin-top:10px!important;
    border-radius: 7px;
}
.prod-box{
    background-color:#bff9f347;
    min-height:500px;
    padding-top: 20px;
    padding-bottom:80px;
}

.fit-img{
    object-fit: contain;
}
.prod-name-home{
    text-transform: capitalize !important;
}
.add-button{
    -webkit-box-shadow: 0px 2px 3px 1px #0111106b; 
    box-shadow: 0px 2px 3px 1px #0108086b;
    border-radius: 2px;

}

.productItems{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.pos-rel{    bottom: 15px;
    position: relative;}
    .categories-item{
        padding-bottom: 70px;
    }
/* .product-header{
    -webkit-box-shadow: -1px 5px 8px -5px rgba(0,0,0,0.51);
-moz-box-shadow: -1px 5px 8px -5px rgba(0,0,0,0.51);
box-shadow: -1px 5px 8px -5px rgba(0,0,0,0.51);
z-index: 10;
} */



/* increment button css================== */
/*  */