@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";
body{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.scrolling-wrapper, .scrolling-wrapper-flexbox {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.heading{
    font-size: 20px;
    margin: 20px 0 15px;
}
.CategoriesPage .item-wrap {
    width: 23.7%;
}
.CategoriesPage .item-wrap .category-image,
.CategoriesPage .item-wrap .gray-overlay {
    height: 224px;
}
.viewAll{
    font-size: 14px;
    float: right;
}